@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FiraCode';
  src: url(../assets/fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yu100';
  src: url(../assets/fonts/yu100.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yu400';
  src: url(../assets/fonts/yu400.ttf);
  font-weight: normal;
  font-style: normal;
}

