@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ryo-bg-color: #ffffff;
  --ryo-bg-sub1: #f7dfdb;
  --ryo-bg-sub2: #99b1f9;
  --ryo-text: #afd0f9;
  --ryo-title: #647ac3;
  --header-bg-color: #3f51b5;
}

body,
input,
button,
textarea,
select,
option {
  font:
    normal 1em Roboto,
    'Helvetica Neue',
    Helvetica,
    Arial,
    'Microsoft Yahei',
    sans-serif;
}

html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}

/* 全局滚动条样式 */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}
*::-webkit-scrollbar-thumb {
  background: #40a0ff49;
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #40a0ff;
}
