#ryo-main {
  padding-left: 240px;
  min-height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  overflow: auto;

  .main-content {
    padding: 30px 0 40px;
    margin: 0 auto;
    width: 960px;
  }
}
