.topHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 56px;
  background: #3f51b5;
  transition:
    padding-left 0.6s ease-in-out,
    background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.15s linear;
  z-index: 30;
  .menuIcon {
    width: 56px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
  }
  .topHeaderTitle {
    visibility: hidden;
    font-weight: 400;
    line-height: 56px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
  }
}

.header {
  padding: 104px 16px 48px 256px;
  background-color: var(--header-bg-color);
  margin-left: -240px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  .headerContent {
    margin: 0 auto;
    width: 960px;
    transition: all 0.6s ease-in-out;

    h1 {
      font-weight: 500;
      font-size: 44px;
      line-height: 48px;
    }
    .subtitle {
      padding-top: 6px;
      font-weight: 300;
      color: #c5cae9;
      font-size: 16px;
      line-height: 24px;
    }
  }
}
